<div class="border border-success text-center pos textstyle">
  <h1> USERS </h1>
  <div class="">
    <div class="input-group input-group-lg">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-lg">Search Filter</span>
    </div>
    <input type="text" class="form-control" [(ngModel)]="userFilter" placeholder="Filter By Id, Name">
  </div>
</div>
<br>
       <div class="container-fluid" style="overflow:auto;">
         <table class="table table-bordered">
           <thead>
             <tr>
               <th>Id</th>
               <th>Name</th>
               <th>Email</th>
               <th>Mobile</th>
               <th>Blocked</th>
             </tr>
           </thead>
           <tbody>
             <tr *ngFor="let data of users | filterData : userFilter : 'user'; let i = index;">
               <td>
                 <span>{{data.userId}}</span>
               </td>
               <td>
                 <span ngIf="data.edit == true || data.edit == undefined">{{data.userName}}</span>
                 <input ngIf="data.edit == false" type="text" [(ngModel)]="data.userName" name="" value="">
               </td>
               <td>
                 <span ngIf="data.edit == true || data.edit == undefined">{{data.email}}</span>
                 <input ngIf="data.edit == false" type="text" [(ngModel)]="data.email" name="" value="">
               </td>
               <td>
                 {{data.mobile}}
               </td>
               <td>
                 <mat-slide-toggle
                  [color]=''
                  [checked]="data.blocked" [(ngModel)]="data.blocked"
                  [disabled]="val" (change)='update(i)'>
                </mat-slide-toggle>
              </td>
              <td>
                <button type="button" name="button" ngIf="data.edit == true || data.edit == undefined" (click)="data.edit = false">edit</button>
                <button type="button" name="button" ngIf="data.edit == false" (click)="data.edit = true;editUser(data) ">save</button>
              </td>
             </tr>
           </tbody>
         </table>
       </div>
        <hr>
</div>
