<div class="border border-success text-center pos">
  <h1> USERS </h1>
       <div class="container-fluid" style="overflow:auto;">
         <table class="table table-bordered">
           <thead>
             <tr>
               <th>Name</th>
               <th>Email</th>
               <th>Mobile</th>
             </tr>
           </thead>
           <tbody>
             <tr *ngFor="let data of users;">
               <td>
                 {{data.name}}
               </td>
               <td>
                 {{data.email}}
               </td>
               <td>
                 {{data.mobile}}
               </td>
             </tr>
           </tbody>
         </table>
       </div>
        <hr>
</div>
