<div class="container text-center">
  <h1> JOB CREATION </h1>
  <!-- <button  type="button" name="button" class="btn btn-success btn-lg" (click)="addJob()">Add Job</button> -->
  <button  type="button" name="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#exampleModal">Add Job</button>
  <button  type="button" name="button" class="btn btn-primary btn-lg" routerLink="/profiles">View Profile</button>
<hr>
  <div class="">
  <table class="table table-success table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Job Id</th>
      <th>Technology</th>
      <th>Visa Type</th>
      <th>Job Description</th>
      <th>comments</th>
      <th></th>
    </tr>
  </thead>
  <tbody style="font-size: medium;">
    <tr  *ngFor="let data of job; let i = index; let lastEl = last; let firstEl = first">
      <td>{{i+1}}</td>
      <td>
        <input class="" type="text" [(ngModel)]='data.jobId'/>
      </td>
      <td>
        <input class="" type="text" [(ngModel)]='data.resourceTechnology'/>
      </td>
      <td>
        <input class="" type="text" [(ngModel)]='data.resourceVisaType'/>
      </td>
      <td>
        <input class="" type="text" [(ngModel)]='data.description'/>
      </td>
      <td>
        <input class="" type="text" [(ngModel)]='data.comments'/>
      </td>
      <td>
        <button type="button"  (click)='apply(data)' class="btn btn-success btn-md">Apply
        </button>
      </td>
      <!-- <td >
        <button type="button"  (click)='deleteRow(i)' class="btn btn-danger btn-sm">
          <span class="glyphicon glyphicon-minus"></span>
        </button>
      </td> -->
    </tr>
  </tbody>
</table>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel" style="margin-left:160px">Add Job</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
  <form>
  <div class="form-group">
    <label for="tech">Technology</label>
    <input type="text" name="tech" class="form-control" [(ngModel)]="newJob.resourceTechnology" id="tech"   placeholder="Enter Technoology">
  </div>
  <div class="form-group">
    <label for="visa">Visa Type</label>
    <input type="text" name="visa" class="form-control" [(ngModel)]="newJob.resourceVisaType" id="visa"  placeholder="Enter VisaType">
  </div>
  <div class="form-group">
    <label for="description">Job Description</label>
    <input type="text" name="desc" class="form-control" [(ngModel)]="newJob.description" id="desc"  placeholder="Description">
  </div>
  <div class="form-group">
    <label for="comments">Comments</label>
    <input type="text" name="comments" class="form-control" [(ngModel)]="newJob.comments" id="comments" placeholder="Comments">
  </div>
</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="newJobData(newJob)"  data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>
