<div class="" style="margin-left:50%">
</div>
<div class="border border-success text-center pos textstyle">
  <h1> PROFILE </h1>
  <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#addProfile">Add Profile</button>
  <button type="button" name="button" class="btn btn-primary btn-lg" routerLink="/jobs">Jobs</button>
  <button type="button" name="button" class="btn btn-primary btn-lg" routerLink="/details">Back</button>

  <hr>
  <div class="">
    <div class="input-group input-group-lg">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-lg">Search Filter</span>
    </div>
    <input type="text" class="form-control" [(ngModel)]="userFilter" placeholder="Filter By JobID, Name, Technology">
  </div>
</div>
<br>
       <div class="container-fluid" style="overflow:auto;">
         <table class="table table-bordered">
           <thead>
             <tr style="font-style: oblique;font-size: 20px;">
               <th>#</th>
               <th class="userStyle">Job Id</th>
               <th class="userStyle">Name</th>
               <th class="userStyle">Email</th>
               <th class="userStyle">Mobile</th>
               <th class="userStyle">Technology</th>
               <th class="userStyle">Specialization</th>
               <th class="userStyle">Experience</th>
               <th class="userStyle">Visa Type</th>
               <th class="userStyle">Location</th>
               <th class="userStyle">Bill Rate</th>
               <th class="userStyle">Upload Profile</th>
               <th class="clientStyle">Client</th>
               <th class="clientStyle">Client Location</th>
               <th class="empStyle">emp Name</th>
               <th class="empStyle">emp Email</th>
               <th class="empStyle">emp Number</th>
               <th class="empStyle">comments</th>
               <th>open/close</th>
             </tr>
           </thead>
           <tbody style="font-size: medium;">
             <tr  *ngFor="let data of profile | filterData : userFilter : 'profile'; let i = index; let lastEl = last; let firstEl = first">
               <td>{{i+1}}</td>
               <td class="userStyle">
                 <span class="number" *ngIf="data.readOnly" (click)="showHistory(data.jobId)">{{data.jobId}}</span>
                 <input class="" type="text" *ngIf="!data.readOnly" [(ngModel)]='data.jobId'/>
               </td>
               <td class="userStyle">
                 <input class="" type="text" [readonly]="data.readOnly" [(ngModel)]='data.resourceName'/>
               </td>
               <td class="userStyle">
                 <input class="" type="text" [readonly]="data.readOnly" [(ngModel)]='data.resourceEmail'/>
               </td>
               <td class="userStyle">
                 <span class="number" *ngIf="data.readOnly" (click)="showHistory(data.resourceNumber)">{{data.resourceNumber}}</span>
                 <input class="" type="text" *ngIf="!data.readOnly" [(ngModel)]='data.resourceNumber'/>
               </td>
               <td class="userStyle">
                 <select   [(ngModel)]='data.resourceTechnology' >
                     <option *ngFor="let item of tech" value={{item}}>
                         {{item}}
                     </option>
                 </select>
               </td>
               <td class="userStyle">
                 <select  [(ngModel)]='data.resourceSpec' >
                     <option *ngFor="let item of tech" value={{item}}>
                         {{item}}
                     </option>
                 </select>
               </td>
               <td class="userStyle">
                 <input class="" type="text"   [readonly]="data.readOnly" [(ngModel)]='data.resourceExp'/>
               </td>
               <td class="userStyle">
                 <input class="" type="text"  [readonly]="data.readOnly" [(ngModel)]='data.resourceVisaType'/>
               </td>
               <td class="userStyle">
                 <input class="" type="text"   [readonly]="data.readOnly" [(ngModel)]='data.resourceLocation'/>
               </td>
               <td class="userStyle">
                 <input class="" type="text"   [readonly]="data.readOnly" [(ngModel)]='data.resourceBillRate'/>
               </td>
               <td class="userStyle">
                 <span class="number" placeholder="view file" (click)="downloadProfile(data.resourceNumber)">{{data.fileName}}</span>
                 <input type="file" (change)="fileChange($event,i)" placeholder="Upload file" accept=".pdf,.doc,.docx">
               </td>
               <td class="clientStyle">
                 <input class="" type="text"   [readonly]="data.readOnly" [(ngModel)]='data.client'/>
               </td>
               <td class="clientStyle">
                 <input class="" type="text"   [readonly]="data.readOnly" [(ngModel)]='data.clientLocation'/>
               </td>
               <td class="empStyle">
                 <input class="" type="text"   [readonly]="data.readOnly" [(ngModel)]='data.employerName'/>
               </td>
               <td class="empStyle">
                 <input class="" type="text"   [readonly]="data.readOnly" [(ngModel)]='data.employerEmail'/>
               </td>
               <td class="empStyle">
                 <input class="" type="text"   [readonly]="data.readOnly" [(ngModel)]='data.employerNumber'/>
               </td>
               <td class="empStyle">
                 <input class="" type="text"   [readonly]="data.readOnly" [(ngModel)]='data.comments'/>
               </td>
               <td>
                 <mat-slide-toggle
                  [color]='green'
                  [checked]="data.blocked"  [(ngModel)]="data.resourceAvailability"
                  [disabled]="val">
                </mat-slide-toggle>
               </td>
               <td *ngIf="data.readOnly"><button type="button" name="button" (click)="data.readOnly = false">Edit</button></td>
                 <td *ngIf="!data.readOnly"><button type="button" name="button" (click)="data.readOnly = true; saveProfile(data)">Save</button></td>
             </tr>
           </tbody>
         </table>
       </div>
        <hr>
<!-- <button  class="btn btn-primary btn-block"type="button" (click)='saveProfile(profile)' name="button">Save</button> -->
</div>
<!-- pop up -->
<!-- Modal -->
<div class="modal fade" id="addProfile" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="addProfileLabel" style="margin-left:560px">Add Profile</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form name="profileCreation" #profileCreation="ngForm">
      <div class="modal-body">
        <div class="container-fluid" style="overflow:auto;">
          <table class="table table-bordered">
            <thead>
              <tr style="font-style: oblique;font-size: 20px;">
                <th class="userStyle">Job Id</th>
                <th class="userStyle">Name</th>
                <th class="userStyle">Email</th>
                <th class="userStyle">Mobile</th>
                <th class="userStyle">Technology</th>
                <th class="userStyle">Specialization</th>
                <th class="userStyle">Experience</th>
                <th class="userStyle">Visa Type</th>
                <th class="userStyle">Location</th>
                <th class="userStyle">Bill Rate</th>
                <th class="userStyle">Upload Profile</th>
                <th class="clientStyle">Client</th>
                <th class="clientStyle">Client Location</th>
                <th class="empStyle">emp Name</th>
                <th class="empStyle">emp Email</th>
                <th class="empStyle">emp Number</th>
                <th class="empStyle">comments</th>
              </tr>
            </thead>
            <tbody style="font-size: medium;">
              <tr>
                <td class="userStyle">
                  <input class="" type="text" name="jobid"  [(ngModel)]='newProfile.jobId'required />
                </td>
                <td class="userStyle">
                  <input class="" type="text"  name="rName"  [(ngModel)]='newProfile.resourceName' required />
                </td>
                <td class="userStyle">
                  <input class="" type="text" name="email"  [(ngModel)]='newProfile.resourceEmail' required />
                </td>
                <td class="userStyle">
                  <input class="" type="text" name="number" [(ngModel)]='newProfile.resourceNumber' required />
                </td>
                <td class="userStyle">
                  <select  [(ngModel)]='newProfile.resourceTechnology' name="tech" required>
                      <option *ngFor="let item of tech" value={{item}}>
                          {{item}}
                      </option>
                  </select>
                </td>
                <td class="userStyle">
                  <select  [(ngModel)]='newProfile.resourceSpec' name="spec" required>
                      <option *ngFor="let item of tech" value={{item}}>
                          {{item}}
                      </option>
                  </select>
                </td>
                <td class="userStyle">
                  <input class="" type="text" name="exp" [(ngModel)]='newProfile.resourceExp' required />
                </td>
                <td class="userStyle">
                  <input class="" type="text" name="visa" [(ngModel)]='newProfile.resourceVisaType' required />
                </td>
                <td class="userStyle">
                  <input class="" type="text" name="location"  [(ngModel)]='newProfile.resourceLocation' required />
                </td>
                <td class="userStyle">
                  <input class="" type="text" name="billRate"  [(ngModel)]='newProfile.resourceBillRate' />
                </td>
                <td class="userStyle">
                  <span class="number" placeholder="view file" (click)="downloadProfile(newProfile.resourceNumber)">{{newProfile.fileName}}</span>
                  <input type="file" name="fileIn" (change)="fileChange($event,i)" placeholder="Upload file" accept=".pdf,.doc,.docx" required />
                </td>
                <td class="clientStyle">
                  <input class="" type="text" name="client"  [(ngModel)]='newProfile.client'  />
                </td>
                <td class="clientStyle">
                  <input class="" type="text" name="cLocation"  [(ngModel)]='newProfile.clientLocation'  />
                </td>
                <td class="empStyle">
                  <input class="" type="text"  name="empName" [(ngModel)]='newProfile.employerName'  />
                </td>
                <td class="empStyle">
                  <input class="" type="text" name="empEmail"  [(ngModel)]='newProfile.employerEmail'  />
                </td>
                <td class="empStyle">
                  <input class="" type="text" name="empNum"  [(ngModel)]='newProfile.employerNumber'  />
                </td>
                <td class="empStyle">
                  <input class="" type="text" name="comments"  [(ngModel)]='newProfile.comments' required />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="profileCreation.reset()" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="!profileCreation.form.valid" (click)="saveProfile(newProfile)"  data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>
