<div class="" style="margin-left:50%">
  <button type="button" name="button" class="btn btn-primary btn-lg" routerLink="/jobs">Add Job</button>
</div>
<div class="border border-success text-center pos textstyle">
  <h1> PROFILE </h1>
  <div class="">
    Filter:<input type="text" class="example-full-width" [(ngModel)]="userFilter" value="Filter">
    <button type="button" (click)='addRow()' class="btn btn-success btn-md">Add Profile</button>
 </div>
       <div class="container-fluid" style="overflow:auto;">
         <table class="table table-bordered">
           <thead>
             <tr>
               <th>#</th>
               <th class="userStyle">Job Id</th>
               <th class="userStyle">Name</th>
               <th class="userStyle">Email</th>
               <th class="userStyle">Mobile</th>
               <th class="userStyle">Technology</th>
               <th class="userStyle">Specialization</th>
               <th class="userStyle">Experience</th>
               <th class="userStyle">Visa Type</th>
               <th class="userStyle">Location</th>
               <th class="userStyle">Bill Rate</th>
               <th class="userStyle">Upload Profile</th>
               <th class="clientStyle">Client</th>
               <th class="clientStyle">Client Location</th>
               <th class="empStyle">emp Name</th>
               <th class="empStyle">emp Email</th>
               <th class="empStyle">emp Number</th>
               <th class="empStyle">comments</th>
               <th>open/close</th>
             </tr>
           </thead>
           <tbody >
             <tr  *ngFor="let data of profile | filter : userFilter; let i = index; let lastEl = last; let firstEl = first">
               <td>{{i+1}}</td>
               <td class="userStyle">
                 <input class="" type="text"   (change)="profile[i].edit = true" [(ngModel)]='profile[i].jobId'/>
               </td>
               <td class="userStyle">
                 <input class="" type="text"   (change)="profile[i].edit = true" [(ngModel)]='profile[i].resourceName'/>
               </td>
               <td class="userStyle">
                 <input class="" type="text" (change)="profile[i].edit = true" [(ngModel)]='profile[i].resourceEmail'/>
               </td>
               <td class="userStyle">
                 <input class="" type="text" *ngIf=" profile[i].resourceNumber == undefined || profile[i].resourceNumber.length != 10 " [(ngModel)]='profile[i].resourceNumber'/>
                 <span class="number" *ngIf="profile[i].resourceNumber && profile[i].resourceNumber.length == 10" (click)="showHistory(profile[i].resourceNumber)">{{profile[i].resourceNumber}}</span>
               </td>
               <td class="userStyle">
                 <select (change)="profile[i].edit = true" [(ngModel)]='profile[i].resourceTechnology' >
                     <option *ngFor="let item of tech" value={{item}}>
                         {{item}}
                     </option>
                 </select>
               </td>
               <td class="userStyle">
                 <select (change)="profile[i].edit = true" [(ngModel)]='profile[i].resourceSpec' >
                     <option *ngFor="let item of tech" value={{item}}>
                         {{item}}
                     </option>
                 </select>
               </td>
               <td class="userStyle">
                 <input class="" type="text"  (change)="profile[i].edit = true" [(ngModel)]='profile[i].resourceExp'/>
               </td>
               <td class="userStyle">
                 <input class="" type="text" (change)="profile[i].edit = true" [(ngModel)]='profile[i].resourceVisaType'/>
               </td>
               <td class="userStyle">
                 <input class="" type="text"  (change)="profile[i].edit = true" [(ngModel)]='profile[i].resourceLocation'/>
               </td>
               <td class="userStyle">
                 <input class="" type="text"  (change)="profile[i].edit = true" [(ngModel)]='profile[i].resourceBillRate'/>
               </td>
               <!-- <td>
                 <input class="" type="text"  (change)="profile[i].edit = true"
                 [(ngModel)]='profile[i].resourceAvailability'/>
               </td> -->
               <td class="userStyle">
                 <span class="number" placeholder="view file" (click)="downloadProfile(profile[i].resourceNumber)">{{profile[i].fileName}}</span>
                 <input type="file" (change)="fileChange($event,i)" placeholder="Upload file" accept=".pdf,.doc,.docx">
               </td>
               <td class="clientStyle">
                 <input class="" type="text"  (change)="profile[i].edit = true" [(ngModel)]='profile[i].client'/>
               </td>
               <td class="clientStyle">
                 <input class="" type="text"  (change)="profile[i].edit = true" [(ngModel)]='profile[i].clientLocation'/>
               </td>
               <td class="empStyle">
                 <input class="" type="text"  (change)="profile[i].edit = true" [(ngModel)]='profile[i].employerName'/>
               </td>
               <td class="empStyle">
                 <input class="" type="text"  (change)="profile[i].edit = true" [(ngModel)]='profile[i].employerEmail'/>
               </td>
               <td class="empStyle">
                 <input class="" type="text"  (change)="profile[i].edit = true" [(ngModel)]='profile[i].employerNumber'/>
               </td>
               <td class="empStyle">
                 <input class="" type="text"  (change)="profile[i].edit = true" [(ngModel)]='profile[i].comments'/>
               </td>
               <td>
                 <mat-slide-toggle
                  [color]='green'
                  [checked]="data.blocked" [(ngModel)]="profile[i].resourceAvailability"
                  [disabled]="val">
                </mat-slide-toggle>
               </td>
               <td >
                 <button type="button"  (click)='deleteRow(i)' class="btn btn-danger btn-sm">
                   <span class="glyphicon glyphicon-minus"></span>
                 </button>
               </td>
               <!-- <td *ngIf="lastEl">
                 <button type="button" (click)='addRow(i)' class="btn btn-success btn-sm">
                   <span class="glyphicon glyphicon-plus"></span>
                 </button>
               </td> -->
             </tr>
           </tbody>
         </table>
       </div>
        <hr>
<button  class="btn btn-primary btn-block"type="button" (click)='saveProfile(profile)' name="button">Save</button>
</div>
